[submodule "SO-ARM100"]
	path = thirdparty/SO-ARM100
	url = https://github.com/TheRobotStudio/SO-ARM100
[submodule "thirdparty/lerobot"]
	path = thirdparty/lerobot
	url = https://github.com/huggingface/lerobot
